{% extends 'app/base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Login</h3>
            <hr>

            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}

            <form action="" method="POST" novalidate class="shadow p-5">
                {% csrf_token %}    
                {% for field in form %}
                    {{field.label_tag}} {{field}} <small class="text-danger">{{field.errors|striptags}}</small>
                    <br>
                {% endfor %}
                <input type="submit" value="Login" class="btn btn-primary mt-4"><br>
                <div class="text-center text-primary fw-bold">
                    <small>No Account Yet? <a href="{% url 'Signup' %}" class="text-danger text-decoration-none">Signup</a></small>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
