<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Ecommerce Website | {% block title %} {% endblock title %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white fw-bold" href="{% url 'Homepage' %}">Grupo 23</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_staff %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">Partners</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-black" href="{% url 'SuppliersList' %}">Suppliers</a></li>
                                    <li><a class="dropdown-item text-black" href="{% url 'WarehousesList' %}">Warehouses</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if user.is_staff %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">Components</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-black" href="{% url 'ComponentsList' %}">In Stock</a></li>
                                    <li><a class="dropdown-item text-black" href="{% url 'ComponentTypesList' %}">Component Types</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">Equipments</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-black" href="{% url 'EquipmentsList' %}">In Stock</a></li>
                                {% if user.is_staff %}
                                    <li><a class="dropdown-item text-black" href="{% url 'EquipmentTypesList' %}">Equipment Types</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown" style="margin-right: 7.5rem;">
                        <a class="nav-link dropdown-toggle text-white" href="" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            {{user.first_name}} {{user.last_name}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-black" href="#">Profile</a></li>
                            <li><a class="dropdown-item text-black" href="#">Orders</a></li>
                            <li><a class="dropdown-item text-black" href="#">Change Password</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item bg-danger text-white" href="{% url 'Logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>

    {% block banner-slider %} {% endblock banner-slider %}
    {% block main-content %} {% endblock main-content %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>